body {
	background:#0EABEE;
	font-family:Roboto Mono;
}

h1 {
	color:#347235;
	background:#E799A3;
}

h2 {
	color:#810541;
}

a {
	color:#FD349C;
}

.secondary {
	color:#E75480;
}

.type1 {
	width:30%;
	display: block;
	margin:0px auto;
}

.type2 {
	width:30%;
	display: block;
	margin:0px auto;
}
